@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
:root{
    --btn-color: #98FB98;
    --background-color:#FFFFE0;
    --border-color:#D2691E;
    --std-bck-clr:#FFEBCD;
    --border-color2: #191970;
    --background-color2:#87CEEB;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: var(--background-color);
    text-align: center;
}
#header 
{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(135, 206, 235, 0.73)),
    url('Images/Background_Img.jpeg');
    height: 100vh;
    width:100%;
    margin: 10px 0;
    text-align: center;
}
.btn{
    display: none;
}
.close-btn{
    display: none;
}
#header nav ul
{
    display: flex;
    gap: 4rem;
    justify-content:center;
    padding: 10px 0;
    /* background-color: rgba(255, 174, 0, 0.363); */
}
#header nav ul li{
    list-style: none;
}
#header nav ul li a:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

#header nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s;
    font-weight: 600;
    font-size: 20px;
    color: #181818;
}

.wlcm-text{
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 0;
    right: 10px;

}
.wlcm-text h1{
    display: inline;
    border: 2px solid #181818;
    padding: 30px;
    color: transparent;
    border-radius: 100px;
    color: #fff
}
#header h1 span{
    position: relative;
    left: 170px;
    color: #18be4f;
    -webkit-text-stroke: 1px #181818;
}
/*-----------------------Copyright-End-------------------*/
.copiright{
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 45px;
    color: #fff;
}
.copiright span{
    color: var(--border-color2);
}
/*-----------------------Home-about-------------------*/
.home-slide{
    display: flex;
    padding: 30px;

}
.slide-img img{
    height: 300px;
    width: 500px;
    margin: 20px;
    border-radius: 20px;
}
.slide-text{
    margin: 20px;
    text-align: left;
}
.slide-text h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.slide-text p{
    font-size: 20px;
}
/*------------------------Transision Effect By Script----------------------*/
.hidden{
    opacity: 0;
    transition:all 2s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
}
/*------------------------std-card------------------------*/
.heading
{
    text-align: center;
    display: inline-block;
    padding: 4px 10px;
    font-size: 35px;
    background-color: var(--border-color);
    border-radius: 7px;
    color: #fff;
}
.card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    border-right : 6px solid var(--border-color);
    background-color: var(--std-bck-clr);
    border-radius: 15px;
    transition: .5s;
    align-self: center;
    justify-self: center;
}
.card:hover{
    transform: translateY(-7px);
    cursor: pointer;
}
.card img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    align-self: center;
    border-right: 6px solid #585858;
}
.card h4{
    font-size: 30px;
    padding: 6px;
    text-align: center;
}
.card h6,p{
    font-size: 20px;
    font-weight: 400;

}
.students{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    justify-content: center;
}
/*
.students{
    display: flex;
    justify-content: center; 
}*/
.students-grid h1{
    text-align: center;
}
/*-----------------------------Teacher_Card------------------------------*/
.teacher-card{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    border-right : 6px solid var(--border-color2);
    background-color: var(--background-color2);
    border-radius: 15px;
    transition: .5s;
    align-self: center;
    justify-self: center;
}
.teacher-card:hover{
    transform: translateY(-7px);
    cursor: pointer;
}
.teacher-card img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    align-self: center;
    border-right: 6px solid #585858;
}
.teacher-card h4{
    font-size: 30px;
    padding: 6px;
    text-align: center;
}
.teacher-card h6,p{
    font-size: 20px;
    font-weight: 400;

}

/*-----------------------------for smaller screens----------------------------*/

@media screen and (max-width: 500px) {
    #header 
    {
        background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(135, 206, 235, 0.73)),
        url('');
        height: 100vh;
        width:100%;
        margin: 10px 0;
        text-align: center;
    }
    #header nav ul
    {
        background-color: var(--border-color);
        gap: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;

    }
    #header nav ul li{
        list-style: none;
        display: block;
        margin: 25px;

    }
    
    #header nav ul li a{
        padding: 5px 10px;
        font-weight: 400;
        font-size: 10x;
    }
    .btn{
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--border-color);
    }       
    .close-btn{
        display: block;
    }
    .wlcm-text{
        position: relative;
        font-size: 4em;
        top: 30%;
        text-align: center;
        font-weight: 800;
        display: inline;
        border: none;
        color: var(--border-color);
    }
}

/* ------------------------------Chatting-area----------------------------- */
#todos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.5em;

}


